<app-header></app-header>
<div class="example-button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a home icon" class="backButton" (click)="goBack()" >
      <span class="material-icons">arrow_back</span>
    </button>
    <h2>Trainee Form - {{ myForm.get('category')?.value }}</h2>
    
  </div>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="content">
        <div class="row">
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Emp Id</mat-label>
                    <input matInput placeholder="Emp Id" formControlName="emp_Id">
                    <mat-error *ngIf="myForm.get('emp_Id')?.invalid && myForm.get('emp_Id')?.touched">
                        Emp Id is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
                        Name is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>DOJ</mat-label>
                    <input matInput placeholder="DOJ" formControlName="doj">
                    <mat-error *ngIf="myForm.get('doj')?.invalid && myForm.get('doj')?.touched">
                        DOJ is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Project ID</mat-label>
                  <mat-select formControlName="project_Id">
                    <mat-option *ngFor="let projectidOption of projectidOptions" [value]="projectidOption">{{ projectidOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('project_Id')?.invalid && myForm.get('project_Id')?.touched">
                    Project ID is required.
                  </mat-error>
                </mat-form-field>
              </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Category</mat-label>
                  <mat-select formControlName="category">
                    <mat-option *ngFor="let categoryOption of categoryOptions" [value]="categoryOption">{{ categoryOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('category')?.invalid && myForm.get('category')?.touched">
                    Category is required.
                  </mat-error>
                </mat-form-field>
              </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Project Change Date</mat-label>
                    <input matInput placeholder="Project Change Date" formControlName="pcd">
                    <mat-error *ngIf="myForm.get('pcd')?.invalid && myForm.get('pcd')?.touched">
                        Prospects is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Prospects</mat-label>
                    <input matInput placeholder="Prospects" formControlName="prospects">
                    <mat-error *ngIf="myForm.get('prospects')?.invalid && myForm.get('prospects')?.touched">
                        Prospects is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Skill Set</mat-label>
                  <mat-select formControlName="skill_Set">
                    <mat-option *ngFor="let skillSetOption of skillSetOptions" [value]="skillSetOption">{{ skillSetOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('skill_Set')?.invalid && myForm.get('skill_Set')?.touched">
                    Skill Set is required.
                  </mat-error>
                </mat-form-field>
            </div>         
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Reporting Person</mat-label>
                    <input matInput placeholder="Reporting Person" formControlName="reportingTo">
                    <mat-error *ngIf="myForm.get('reportingTo')?.invalid && myForm.get('reportingTo')?.touched">
                        Reporting Person is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <!-- ... your original code ... -->

<div class="col-md-3">
    <mat-form-field appearance="outline">
      <mat-label>Division ID</mat-label>
      <div class="input-with-info">
        <input matInput placeholder="Division Id" formControlName="division_id">
        <button mat-icon-button matSuffix (click)="openInfoPopup($event)">
            <mat-icon>info</mat-icon>
          </button>
      </div>
      <mat-error *ngIf="myForm.get('division_id')?.invalid && myForm.get('division_id')?.touched">
        Division is required.
      </mat-error>
    </mat-form-field>
  </div>          
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Year of Passout</mat-label>
                    <input matInput placeholder="Year of Passout" formControlName="yop">
                    <mat-error *ngIf="myForm.get('yop')?.invalid && myForm.get('yop')?.touched">
                        Year of Passout is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Education</mat-label>
                  <mat-select formControlName="education">
                    <mat-option *ngFor="let educationOption of educationOptions" [value]="educationOption">{{ educationOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('education')?.invalid && myForm.get('education')?.touched">
                    Education is required.
                  </mat-error>
                </mat-form-field>
              </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Prv Exp</mat-label>
                    <input matInput placeholder="Prv Exp" formControlName="prev_Exp">
                    <mat-error *ngIf="myForm.get('prev_Exp')?.invalid && myForm.get('prev_Exp')?.touched">
                        Prv Exp is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Lead Name</mat-label>
                    <input matInput placeholder="Lead Name" formControlName="leadName">
                    <mat-error *ngIf="myForm.get('leadName')?.invalid && myForm.get('leadName')?.touched">
                        Lead Name is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Current Location</mat-label>
                  <mat-select formControlName="location">
                    <mat-option *ngFor="let locationOption of locationOptions" [value]="locationOption">{{ locationOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('location')?.invalid && myForm.get('location')?.touched">
                    Current Location is required.
                  </mat-error>
                </mat-form-field>
              </div>


            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Project Experience</mat-label>
                    <input matInput placeholder="Project Experience" formControlName="project_Experience">
                    <mat-error
                        *ngIf="myForm.get('project_Experience')?.invalid && myForm.get('project_Experience')?.touched">
                        Project Experience is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Timeline of the</mat-label>
                    <input matInput placeholder="Timeline of the Project/Released" formControlName="top">
                    <mat-error *ngIf="myForm.get('top')?.invalid && myForm.get('top')?.touched">
                        Timeline of the is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Training Completion Date</mat-label>
                    <input matInput placeholder="Training Completion Date" formControlName="tcd">
                    <mat-error
                        *ngIf="myForm.get('tcd')?.invalid && myForm.get('tcd')?.touched">
                        Training Completion Date is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Duration of Training</mat-label>
                    <input matInput placeholder="Duration of Training" formControlName="dot">
                    <mat-error
                        *ngIf="myForm.get('dot')?.invalid && myForm.get('dot')?.touched">
                        Duration of Training is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Months in SS</mat-label>
                    <input matInput placeholder="Months in SS" formControlName="months_inSS">
                    <mat-error *ngIf="myForm.get('months_inSS')?.invalid && myForm.get('months_inSS')?.touched">
                        Months in SS is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Batch</mat-label>
                  <mat-select formControlName="batch">
                    <mat-option *ngFor="let batchOption of batchOptions" [value]="batchOption">{{ batchOption }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('batch')?.invalid && myForm.get('batch')?.touched">
                    Batch is required.
                  </mat-error>
                </mat-form-field>
              </div>           
            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Contact</mat-label>
                    <input matInput placeholder="Contact" formControlName="contact">
                    <mat-error *ngIf="myForm.get('contact')?.invalid && myForm.get('contact')?.touched">
                        Contact is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" formControlName="mailId">
                    <mat-error *ngIf="myForm.get('mailId')?.invalid && myForm.get('mailId')?.touched">
                        Email Address is required and must be valid.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

    </div>
    <div class="action" *ngIf="userRole === 'admin'" style="margin-top: -18px;">
        <button mat-raised-button color="primary" type="submit" >{{ isUpdateMode ? 'Update' : 'Submit' }}</button>
        <button mat-raised-button color="warn" type="button">Cancel</button>
      </div>      
</form>