<app-header></app-header>
<div class="example-button-container">
    <button mat-fab color="primary" aria-label="Example icon button with a home icon" class="backButton" (click)="goBack()" >
      <span class="material-icons">arrow_back</span>
    </button>
    <h2>Asset Form -</h2>
    <h2>  {{ myForm.get('assetNo')?.value }}</h2>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="content">
      <div class="row">
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>Asset No</mat-label>
                    <input matInput placeholder="assetNo" formControlName="assetNo">
                    <mat-error *ngIf="myForm.get('assetNo')?.invalid && myForm.get('assetNo')?.touched">
                        Asset Id is required.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field appearance="outline">
                  <mat-label>Asset Type</mat-label>
                  <mat-select formControlName="assetType">
                      <mat-option *ngFor="let option of assetTypeOptions" [value]="option">
                          {{ option }}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('assetType')?.invalid && myForm.get('assetType')?.touched">
                      Asset Type is required.
                  </mat-error>
              </mat-form-field>
          </div>
            <!-- <div class="col-md-3" >
                <mat-form-field appearance="outline" >
                    <mat-label>Emp Id</mat-label>
                    <input matInput placeholder="empId" formControlName="empId">
                    <mat-error *ngIf="myForm.get('empId')?.invalid && myForm.get('empId')?.touched">
                        Emp Id is required.
                    </mat-error>
                </mat-form-field>
            </div> -->

            <!-- <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="empName" formControlName="empName">
                    <mat-error *ngIf="myForm.get('empName')?.invalid && myForm.get('empName')?.touched">
                        Name is required.
                    </mat-error>
                </mat-form-field>
            </div> -->
            <!-- Asset Status Field -->
      
            <div class="col-md-3">
              <mat-form-field appearance="outline">
                  <mat-label>Location</mat-label>
                  <mat-select formControlName="location">
                      <mat-option *ngFor="let option of locationOptions" [value]="option">
                          {{ option }}
                      </mat-option>
                  </mat-select>
                  <mat-error *ngIf="myForm.get('location')?.invalid && myForm.get('location')?.touched">
                      Location is required.
                  </mat-error>
              </mat-form-field>
          </div>

          <div class="col-md-2 asset-status-container">
            <mat-form-field appearance="outline">
              <mat-label>Asset Status</mat-label>
              <mat-select formControlName="assetStatus">
                <mat-option *ngFor="let option of assetStatusOptions" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="myForm.get('assetStatus')?.invalid && myForm.get('assetStatus')?.touched">
                Asset Status is required.
              </mat-error>
            </mat-form-field>
          </div>
          

          <div class="col-md-1" style="margin-left: 10px;">
            <button mat-button color="primary" (click)="openAssetPopup($event)">
                View Allocation History
            </button>
        </div>
        
            

            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>brand</mat-label>
                    <input matInput placeholder="brand" formControlName="brand">
                    <mat-error *ngIf="myForm.get('brand')?.invalid && myForm.get('brand')?.touched">
                        brand is required.
                    </mat-error>
                </mat-form-field>
            </div>
                 
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>Model No</mat-label>
                    <input matInput placeholder="modelNo " formControlName="modelNo">
                    <mat-error *ngIf="myForm.get('modelNo')?.invalid && myForm.get('modelNo')?.touched">
                        Model No is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                    <mat-label>issues</mat-label>
                    <input matInput placeholder="issues " formControlName="issues">
                    <mat-error *ngIf="myForm.get('issues')?.invalid && myForm.get('issues')?.touched">
                        issues is required.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-3" >
                <mat-form-field appearance="outline">
                  <mat-label>Serial No</mat-label>
                  <input matInput placeholder="serialNo" formControlName="serialNo">
                  <mat-error *ngIf="myForm.get('serialNo')?.invalid && myForm.get('serialNo')?.touched">
                    Serial No is required.
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>Purchase Date</mat-label>
                  <input matInput [matDatepicker]="purchaseDatepicker" placeholder="purchaseDate" formControlName="purchaseDate">
                  <mat-datepicker-toggle matSuffix [for]="purchaseDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #purchaseDatepicker></mat-datepicker>
                  <mat-error *ngIf="myForm.get('purchaseDate')?.invalid && myForm.get('purchaseDate')?.touched">
                    Purchase Date is required.
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-md-3" >
                <mat-form-field appearance="outline">
                  <mat-label>Invoice No</mat-label>
                  <input matInput placeholder="invoiceNo" formControlName="invoiceNo">
                  <mat-error *ngIf="myForm.get('invoiceNo')?.invalid && myForm.get('invoiceNo')?.touched">
                    Invoice No is required.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3" >
                <mat-form-field appearance="outline">
                  <mat-label>Original Value</mat-label>
                  <input matInput placeholder="originalValue" formControlName="originalValue">
                  <mat-error *ngIf="myForm.get('originalValue')?.invalid && myForm.get('originalValue')?.touched">
                    Original Value is required.
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-md-3" >
                <mat-form-field appearance="outline">
                  <mat-label>Current Value</mat-label>
                  <input matInput placeholder="currentValue" formControlName="currentValue">
                  <mat-error *ngIf="myForm.get('currentValue')?.invalid && myForm.get('currentValue')?.touched">
                    Current Value is required.
                  </mat-error>
                </mat-form-field>
              </div>
              
              <div class="col-md-3" >
                <mat-form-field appearance="outline">
                  <mat-label>warranty</mat-label>
                  <input matInput placeholder="warranty" formControlName="warranty">
                  <mat-error *ngIf="myForm.get('warranty')?.invalid && myForm.get('warranty')?.touched">
                    warranty is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <!-- Asset Group Field -->
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                    <mat-label>Asset Group</mat-label>
                    <mat-select formControlName="assetGroup">
                        <mat-option *ngFor="let option of assetGroupOptions" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="myForm.get('assetGroup')?.invalid && myForm.get('assetGroup')?.touched">
                        Asset Group is required.
                    </mat-error>
                </mat-form-field>
            </div>
      <!-- Asset Type Field -->
      

      <!-- Description Field -->
      <div class="col-md-3" >
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Description" formControlName="description">
          <mat-error *ngIf="myForm.get('description')?.invalid && myForm.get('description')?.touched">
            Description is required.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Asset Status Field
      <div class="col-md-3" *ngIf="isFieldVisible('assetStatus')">
        <mat-form-field appearance="outline">
          <mat-label>Asset Status</mat-label>
          <input matInput placeholder="Asset Status" formControlName="assetStatus">
          <mat-error *ngIf="myForm.get('assetStatus')?.invalid && myForm.get('assetStatus')?.touched">
            Asset Status is required.
          </mat-error>
        </mat-form-field>
      </div> -->

      <!-- Remarks Field -->
      <div class="col-md-3" >
        <mat-form-field appearance="outline">
          <mat-label>Remarks</mat-label>
          <input matInput placeholder="Remarks" formControlName="remarks">
          <mat-error *ngIf="myForm.get('remarks')?.invalid && myForm.get('remarks')?.touched">
            Remarks is required.
          </mat-error>
        </mat-form-field>
      </div>
              
        </div>

    </div>
    <div class="action" *ngIf="userRole === 'operation'" style="margin-top: -18px;">
        <button mat-raised-button color="primary" type="submit" >{{ isUpdateMode ? 'Update' : 'Submit' }}</button>
        <button mat-raised-button color="warn" type="button" (click)="goBack()" >Cancel</button>
      </div>      
</form>