<app-header></app-header>

<h2 mat-card class="dashboard">DASHBOARD</h2>

<div class="row">

  <mat-card class="col-md-3" *ngIf="cardData" (click)="onCardClicked('BL')">
    <mat-card-title>Billable</mat-card-title>
    <mat-card-content>
      <p>{{ cardData.billable }}</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="col-md-3" *ngIf="cardData" (click)="onCardClicked('NBD')">
    <mat-card-title>Non-BillableDeploy</mat-card-title>
    <mat-card-content>
      <p>{{ cardData.nonBillableA }}</p>
    </mat-card-content>
  </mat-card>
  

  <mat-card class="col-md-3" *ngIf="cardData" (click)="onCardClicked('NBA')">
    <mat-card-title>Non-Billable A</mat-card-title>
    <mat-card-content>
      <p>{{ cardData.nonBillableA }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3" *ngIf="cardData" (click)="onCardClicked('NBDA')">
    <mat-card-title>Non-Billable Deploy A</mat-card-title>
    <mat-card-content>
      <p>{{ cardData.nonBillableDeployA }}</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-md-3" *ngIf="cardData" (click)="onCardClicked('NBNU')">
    <mat-card-title>Non-Billable Non-Utilize</mat-card-title>
    <mat-card-content>
      <p>{{ cardData.nonBillableNonUtilize }}</p>
    </mat-card-content>
  </mat-card>

</div>
