mat-card:hover {
    transition: 0.3 ease;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.card-body{
    text-align: center;
}
.btn-border{
    border: transparent;
}
.row{
    padding-left: 2%;
    padding-top: 1%;

}
