<app-header></app-header>


<div class="row">
  <h2>DASHBOARD</h2>
</div>

<div class="">
  <div class="row p-3">

    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('BL')">
            <mat-card-title>BL</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.billable }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('BL')">
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('NBD')">
            <mat-card-title>NBD</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.nonBillableDeploy }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('NBD')" >
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>

  

    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('NBA')">
            <mat-card-title>NBA</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.nonBillableA }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('NBA')">
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>


    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('NBDA')">
            <mat-card-title>NBDA</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.nonBillableDeployA }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('NBDA')" >
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>

   


    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('NBNU')">
            <mat-card-title>NBNU</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.nonBillableNonUtilize }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('NBNU')">
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>


    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <mat-card *ngIf="cardData" (click)="onCardClicked('All')">
            <mat-card-title>All</mat-card-title>
            <mat-card-content>
              <b>{{ cardData.allTrainees }}</b>
            </mat-card-content>
          </mat-card>
          <ng-container *ngIf="userRole === 'admin'">
          <button mat-stroked-button matTooltip="Download" class="btn-border" (click)="downloadExcel('All')">
            Export<mat-icon>download</mat-icon>
          </button>
        </ng-container>
        </div>
      </div>
    </div>

  </div>
</div>
