<mat-toolbar color="primary">
  <div class="left-side">
      <button type="button" (click)="Home()" style="border-color: transparent;">
          <img src="../../../assets/SightspectrumName.jpeg" class="headerLogo" alt="Logo">
      </button>
      <!-- You can add additional elements or styles for the left side if needed -->
  </div>

  <span class="example-spacer"></span>
  <ng-container *ngIf="userRole === 'operation'">
  <div class="button">
  <!-- <a mat-button routerLink="/dashboard">Dashboard</a> -->
  <a mat-button routerLink="/asset-management">Add Asset</a>
  <a mat-button routerLink="/AssetList/All">Asset List</a>

</div>
</ng-container>
  <span class="example-fill-remaining-space"></span>

  <button mat-raised-button color="warn" class="login-button" (click)="logout()">Log out</button>
</mat-toolbar>
