.example-spacer {
    flex: 1 1 auto;
  }

  mat-toolbar{
    background-color: white;
  }
  // .logo {
  //   display: flex;
  //   align-items: center;
  // }
  
  .logo-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
  }
  .headerLogo{
    width: 200px;
    height: 40px;
  }